aws/step_functions/media_processing_pipeline.json
{
  "Comment": "TOQ Media Processing Pipeline - Staging",
  "StartAt": "ValidateRawAssets",
  "States": {
    "ValidateRawAssets": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:058264253741:function:listing-media-validate-staging",
      "ResultPath": "$.validation",
      "TimeoutSeconds": 120,
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "ValidationFailed"
        }
      ],
      "Next": "ParallelProcessing"
    },
    "ParallelProcessing": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "GenerateThumbnails",
          "States": {
            "GenerateThumbnails": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:058264253741:function:listing-media-thumbnails-staging",
              "InputPath": "$.validation",
              "TimeoutSeconds": 600,
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.TaskFailed"
                  ],
                  "IntervalSeconds": 5,
                  "MaxAttempts": 2,
                  "BackoffRate": 2.0
                }
              ],
              "End": true
            }
          }
        },
        {
          "StartAt": "CheckVideoThumbnails",
          "States": {
            "CheckVideoThumbnails": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.validation.hasVideos",
                  "BooleanEquals": true,
                  "Next": "GenerateVideoThumbnails"
                }
              ],
              "Default": "SkipVideoThumbnails"
            },
            "GenerateVideoThumbnails": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:058264253741:function:listing-media-video_thumbnails-staging",
              "InputPath": "$.validation",
              "TimeoutSeconds": 600,
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.TaskFailed"
                  ],
                  "IntervalSeconds": 5,
                  "MaxAttempts": 2,
                  "BackoffRate": 2.0
                }
              ],
              "End": true
            },
            "SkipVideoThumbnails": {
              "Type": "Pass",
              "Result": {
                "status": "no_videos_to_thumbnail"
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "CheckVideoProcessing",
          "States": {
            "CheckVideoProcessing": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.validation.hasVideos",
                  "BooleanEquals": true,
                  "Next": "ProcessVideos"
                }
              ],
              "Default": "SkipVideoProcessing"
            },
            "ProcessVideos": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:mediaconvert:createJob",
              "Parameters": {
                "Role": "arn:aws:iam::058264253741:role/toq-media-processing-mediaconvert-staging",
                "Settings": {
                  "Inputs": [
                    {
                      "FileInput.$": "$.validation.videoInput"
                    }
                  ],
                  "OutputGroups": [
                    {
                      "Name": "File Group",
                      "OutputGroupSettings": {
                        "Type": "FILE_GROUP_SETTINGS",
                        "FileGroupSettings": {
                          "Destination.$": "$.validation.videoOutputPath"
                        }
                      },
                      "Outputs": [
                        {
                          "ContainerSettings": {
                            "Container": "MP4",
                            "Mp4Settings": {
                              "CslgAtom": "INCLUDE",
                              "FreeSpaceBox": "EXCLUDE",
                              "MoovPlacement": "PROGRESSIVE_DOWNLOAD"
                            }
                          },
                          "VideoDescription": {
                            "Width": 1920,
                            "Height": 1080,
                            "CodecSettings": {
                              "Codec": "H_264",
                              "H264Settings": {
                                "RateControlMode": "QVBR",
                                "QualityTuningLevel": "SINGLE_PASS_HQ",
                                "QvbrSettings": {
                                  "QvbrQualityLevel": 8
                                },
                                "MaxBitrate": 5000000,
                                "SceneChangeDetect": "TRANSITION_DETECTION"
                              }
                            }
                          }
                        }
                      ]
                    }
                  ]
                }
              },
              "TimeoutSeconds": 3600,
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.TaskFailed"
                  ],
                  "IntervalSeconds": 10,
                  "MaxAttempts": 1
                }
              ],
              "End": true
            },
            "SkipVideoProcessing": {
              "Type": "Pass",
              "Result": {
                "status": "no_videos_to_process"
              },
              "End": true
            }
          }
        }
      ],
      "ResultPath": "$.parallelResults",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "ReportFailure"
        }
      ],
      "Next": "ConsolidateResults"
    },
    "ConsolidateResults": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:058264253741:function:listing-media-consolidate-staging",
      "Parameters": {
        "jobId.$": "$.jobId",
        "listingIdentityId.$": "$.validation.listingIdentityId",
        "executionArn.$": "$$.Execution.Id",
        "startedAt.$": "$$.Execution.StartTime",
        "assets.$": "$.validation.assets",
        "parallelResults.$": "$.parallelResults",
        "traceparent.$": "$.traceparent"
      },
      "ResultPath": "$.consolidation",
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "ReportFailure"
        }
      ],
      "Next": "FinalizeAndCallback"
    },
    "FinalizeAndCallback": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:058264253741:function:listing-media-callback-dispatch-staging",
      "Parameters": {
        "statusCode": 200,
        "body.$": "$.consolidation.body"
      },
      "TimeoutSeconds": 120,
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Next": "ProcessingSucceeded"
    },
    "ProcessingSucceeded": {
      "Type": "Succeed"
    },
    "ValidationFailed": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:058264253741:function:listing-media-callback-dispatch-staging",
      "Parameters": {
        "body": {
          "jobId.$": "$.jobId",
          "listingIdentityId.$": "$.listingIdentityId",
          "executionArn.$": "$$.Execution.Id",
          "startedAt.$": "$$.Execution.StartTime",
          "provider": "STEP_FUNCTIONS",
          "status": "VALIDATION_FAILED",
          "failureReason.$": "$.error.Error",
          "error": {
            "code.$": "$.error.Error",
            "message.$": "$.error.Cause"
          },
          "outputs": [],
          "traceparent.$": "$.traceparent"
        }
      },
      "TimeoutSeconds": 60,
      "Next": "ProcessingFailed"
    },
    "ReportFailure": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:058264253741:function:listing-media-callback-dispatch-staging",
      "Parameters": {
        "body": {
          "jobId.$": "$.jobId",
          "listingIdentityId.$": "$.listingIdentityId",
          "executionArn.$": "$$.Execution.Id",
          "startedAt.$": "$$.Execution.StartTime",
          "provider": "STEP_FUNCTIONS",
          "status": "PROCESSING_FAILED",
          "failureReason.$": "$.error.Error",
          "error": {
            "code.$": "$.error.Error",
            "message.$": "$.error.Cause"
          },
          "outputs": [],
          "traceparent.$": "$.traceparent"
        }
      },
      "TimeoutSeconds": 60,
      "Next": "ProcessingFailed"
    },
    "ProcessingFailed": {
      "Type": "Fail",
      "Error": "MediaProcessingFailed",
      "Cause": "Failed during media processing workflow"
    }
  }
}