aws/step_functions/media_processing_pipeline.json
{
  "Comment": "TOQ Media Processing Pipeline - Staging",
  "StartAt": "ValidateRawAssets",
  "States": {
    "ValidateRawAssets": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:058264253741:function:listing-media-validate-staging",
      "ResultPath": "$.validation",
      "TimeoutSeconds": 120,
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "ValidationFailed"
        }
      ],
      "Next": "ParallelProcessing"
    },
    "ParallelProcessing": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "GenerateThumbnails",
          "States": {
            "GenerateThumbnails": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:058264253741:function:listing-media-thumbnails-staging",
              "InputPath": "$.validation",
              "TimeoutSeconds": 600,
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.TaskFailed"
                  ],
                  "IntervalSeconds": 5,
                  "MaxAttempts": 2,
                  "BackoffRate": 2.0
                }
              ],
              "End": true
            }
          }
        },
        {
          "StartAt": "CheckVideoProcessing",
          "States": {
            "CheckVideoProcessing": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.validation.hasVideos",
                  "BooleanEquals": true,
                  "Next": "ProcessVideos"
                }
              ],
              "Default": "SkipVideoProcessing"
            },
            "ProcessVideos": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:mediaconvert:createJob",
              "Parameters": {
                "Role": "arn:aws:iam::058264253741:role/toq-media-processing-mediaconvert-staging",
                "Settings": {
                  "Inputs": [
                    {
                      "FileInput.$": "$.validation.videoInput"
                    }
                  ],
                  "OutputGroups": [
                    {
                      "Name": "File Group",
                      "OutputGroupSettings": {
                        "Type": "FILE_GROUP_SETTINGS",
                        "FileGroupSettings": {
                          "Destination.$": "$.validation.videoOutputPath"
                        }
                      },
                      "Outputs": [
                        {
                          "VideoDescription": {
                            "Width": 1920,
                            "Height": 1080,
                            "CodecSettings": {
                              "Codec": "H_264"
                            }
                          }
                        }
                      ]
                    }
                  ]
                }
              },
              "TimeoutSeconds": 3600,
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.TaskFailed"
                  ],
                  "IntervalSeconds": 10,
                  "MaxAttempts": 1
                }
              ],
              "End": true
            },
            "SkipVideoProcessing": {
              "Type": "Pass",
              "Result": {
                "status": "no_videos_to_process"
              },
              "End": true
            }
          }
        }
      ],
      "ResultPath": "$.parallelResults",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "ProcessingFailed"
        }
      ],
      "Next": "CreateZipBundle"
    },
    "CreateZipBundle": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:058264253741:function:listing-media-zip-staging",
      "Parameters": {
        "jobId.$": "$.jobId",
        "batchId.$": "$.validation.batchId",
        "listingId.$": "$.validation.listingId",
        "validAssets.$": "$.validation.validAssets",
        "parallelResults.$": "$.parallelResults"
      },
      "ResultPath": "$.zipResult",
      "TimeoutSeconds": 1800,
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "IntervalSeconds": 10,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "ProcessingFailed"
        }
      ],
      "Next": "FinalizeAndCallback"
    },
    "FinalizeAndCallback": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:058264253741:function:listing-media-callback-dispatch-staging",
      "Parameters": {
        "statusCode": 200,
        "body": {
          "jobId.$": "$.jobId",
          "status": "SUCCEEDED",
          "provider": "STEP_FUNCTIONS",
          "batchId.$": "States.Format('{}', $.validation.batchId)",
          "listingId.$": "States.Format('{}', $.validation.listingId)",
          "traceparent": null,
          "outputs.$": "States.Array(States.JsonToString($.validation.validAssets))",
          "assetsZipped.$": "$.zipResult.body.assetsZipped",
          "zipBundles.$": "$.zipResult.body.zipBundles"
        }
      },
      "TimeoutSeconds": 120,
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Next": "ProcessingSucceeded"
    },
    "ProcessingSucceeded": {
      "Type": "Succeed"
    },
    "ValidationFailed": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:058264253741:function:listing-media-callback-dispatch-staging",
      "Parameters": {
        "body": {
          "jobId.$": "$.jobId",
          "batchId.$": "States.Format('{}', $.batchId)",
          "listingId.$": "States.Format('{}', $.listingId)",
          "status": "VALIDATION_FAILED",
          "error.$": "$.error"
        }
      },
      "TimeoutSeconds": 60,
      "Next": "ProcessingFailed"
    },
    "ProcessingFailed": {
      "Type": "Fail",
      "Error": "MediaProcessingFailed",
      "Cause": "Failed during media processing workflow"
    }
  }
}